/* Very Basic CSS */
body {
    font-family: sans-serif, monospace;
    font-size: 1.2em;
    line-height: 1.6;
    padding: 10px;
}

h1 {
    font-size: 1.5em; 
}

p {
    font-size: 1em;
}

a {
    color: #0066cc; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
